@keyframes flash {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pointsFlash {
  0% {
    background-color: azure;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes startButtonFlash {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: azure;
  }

  100% {
    background-color: transparent;
  }
}

.startButtonFlash {
  animation-name: startButtonFlash;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.pointsFlash {
  animation: pointsFlash 750ms;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#upgradeText {
  color: red;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  height: 2rem;
}

.flash {
  animation: flash 1s;
}

html {
  background-color: #b0c4de;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 32px 32px;
  font-family: "Roboto Mono", monospace;
}

#myCanvas {
  display: none;
  position: absolute;
}

h1 {
  font-size: 3rem;
  margin: 0 0 15px;
}

#winLoss {
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  font-size: medium;
  margin-bottom: 10px;
  width: 1000px;
}

#winLoss h2 {
  padding-left: 15px;
  margin: 0;
}

.tile {
  padding: 5px;
  border: 2px solid black;
  border-radius: 7px;
}

#githubicon {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10vw;
  top: 40px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
  border-radius: 30px;
}

@media screen and (max-width: 1700px) {
  #githubicon,
  #homeIcon {
    top: 15px !important;
  }
}

#githubicon:hover {
  transform: translateY(-5px);
  background-color: linen;
}

#homeIcon {
  position: absolute;
  top: 40px;
  left: 10vw;
  width: 60px;
  height: 60px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
}

#homeIcon:hover {
  transform: translateY(-5px);
}

body,
footer,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#playerShipImg {
  margin-top: -10px;
  width: 100px;
  height: 50px;
}

#ship {
  margin: 0;
  width: 95px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
}

.enemyShipImg {
  margin-top: -5px;
  width: 75px;
  height: 50px;
}

.enemyShip {
  position: absolute;
  width: 75px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
}

#gameBoard {
  border: 1px solid black;
  width: 1000px;
  height: 800px;
  background-color: black;
}

.laser {
  position: absolute;
  width: 7px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
}

.enemyLaser {
  position: absolute;
  width: 8px;
  height: 25px;
  background-color: green;
  border-radius: 5px;
}

#enemies {
  width: 1000px;
  height: 740px;
}

.ship-row {
  display: flex;
  height: 25px;
}

.ship-cell {
  height: 25px;
  width: 25px;
}

#btns {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#btns > div {
  font-size: 1.7em;
  border-radius: 7px;
  padding: 5px;
  border: 1px solid black;
  margin-right: 30px;
  transition: 500ms;
}

#btns > div:hover {
  background-color: dimgray;
  cursor: pointer;
}

#updateText {
  margin-top: 10px;
}

.blocker {
  background-color: #00fe00;
}

.shadowBox {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#modal-box {
  z-index: 1;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#inner-modal-box {
  position: relative;
  text-align: center;
  border-radius: 5px;
  box-shadow: inset 0 0 0 4px black;
  margin-left: 40vw;
  margin-top: 10vh;
  background-color: azure;
  width: 350px;
  height: 15vh;
}

#modal-message {
  vertical-align: middle;
  font-family: "Roboto Mono", monospace !important;
  font-size: xx-large;
  line-height: 15vh;
}

#close-button {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  line-height: 25px;
}

#close-button:hover {
  cursor: pointer;
  color: red;
}

